#hyperiums7-ticks {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#000;
	border-top:1px solid #3a3a3a;
	padding:0.3em 0.5em;
	text-align:center;
}

#hyperiums7-ticks ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
}

#hyperiums7-ticks ul li {
	display:inline;
	margin:0 0.5em;
	white-space:nowrap;
}

#hyperiums7-ticks ul li[title] {
	cursor:help;
}

.hyperiums7-blink {
	-webkit-animation-name:hyperiums7-blink;
	-webkit-animation-duration:300ms;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes hyperiums7-blink {
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

